*{

}
.highlightContainer{
  border: 1px solid grey;
  padding: 20px;
  width: 1400px;
  margin: 0 auto !important;
  
}

.depSpacing{
  padding: 0 !important;
}

.highlightButton{
  float: right;
  margin: 0 9% 0 0;
}
.textFlex{
  padding: 0 0 0 150px !important;
}

.btn-primary{
  background-color: #005EA2 !important;
}

.btn-primary:hover{
  background-color: #007bff !important;
}

.languageSelector{
  background-color: #005EA2;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.languageSelector:hover{
  background-color: #007bff;
}
